body {
    text-align: center;
    background-color: #a21930;
}

@keyframes example {
    from {background-color: #ffffff;}
    to {background-color: '';}
  }

p.text0 {

    color:#ffffff;
    background-color: #2b718a;
    font-size: 25px;
    border-style: double;
    border-radius: 20px 20px;
    animation: infinite;  
    animation-name: example;
    animation-duration: 2s;

    

}
.text1 {

    color:#ffffff;
    font-size: 25px;
    border-style: inset;
    border-radius: 10px 10px;
    background: linear-gradient(#79094d, #ff0041);
}

p.text2 {
    font-size: 25px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px 10px;
    background: linear-gradient(#af2c39, #c0af5b);
 
    
}

p.text3 {
    font-size: 25px;
    border-style: dotted;
    border-color: #000000;
    border-radius: 10px 10px;
    background: linear-gradient(#239759, #138011);

    
}

.test {
    display:flex;
}

.test2 {
    display: flex;
}

p.text4 {
    font-size: 25px;
    border-style: dotted;
    border-color: #000000;
    border-radius: 10px 10px;
    display: flex;
    margin-right: 5px;
    background-color: #3792b4;
    animation:infinite;
    animation-name: example;
    animation-duration: 2s;  


}

p.text5 {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    font-size: 25px;
    border-style:inherit;
    border-radius: 10px 10px;
    display: flex;
    margin-left: 5px;
    background-color: #738ef0;
    animation:infinite;
    animation-name: example;
    animation-duration: 2s;   
    animation-delay: 3s;

}

p.text6 {
    text-shadow: 2px 2px;
    font-size: 25px;
    border-style:double;
    border-radius: 10px 10px;
    display: flex;
    margin-left: 5px;
    background-color: #f073b6;



    
}

p.text7 {
    opacity: 50%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 25px;
    border-style:dotted;
    border-radius: 10px 10px;
    display: flex;
    margin-left: 5px;
    background-color: #7036b3;
    
}

p.text8 {
    text-decoration-line: underline;
    font-size: 25px;
    border-style:double;
    border-radius: 10px 10px;
    display: flex;
    margin-left: 5px;
    background: linear-gradient(#097936, #00ffd1)
    
}

p.text9 {
    font-size: 25px;
    border-style: none;
    border-radius: 4em;
    background: linear-gradient(90deg, #2a2ae1, #9932cc);

    

    
}

.text10 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    border-style: inset;
    background-color: #d37d1a;
    font-size: 25px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    transform: rotate(15deg);

}

